<div class="header-area ">
<div class="header-top_area d-none d-lg-block">
  <div class="container">
      <div class="row">
          <div class="col-xl-5 col-md-5 ">
              <div class="header_left">
                  <p>Welcome to Conbusi consulting service</p>
              </div>
          </div>
          <div class="col-xl-7 col-md-7">
              <div class="header_right d-flex">
                      <div class="short_contact_list">
                              <!-- <ul>
                                  <li><a href="#"> <i class="fa fa-envelope"></i> info@docmed.com</a></li>
                                  <li><a href="#"> <i class="fa fa-phone"></i> 1601-609 6780</a></li>
                              </ul> -->
                          </div>
                          <div class="social_media_links">
                              <!-- <a href="#">
                                  <i class="fa fa-linkedin"></i>
                              </a>
                              <a href="#">
                                  <i class="fa fa-facebook"></i>
                              </a>
                              <a href="#">
                                  <i class="fa fa-google-plus"></i>
                              </a> -->
                          </div>
              </div>

          </div>
      </div>
  </div>
</div>
</div>
